*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
body {
  min-height: 100vh;
}
p {
  margin: 0;
  padding: 0;
}

@import url("./Header.scss");
@import url("./Login.scss");
@import url("./HomePage.scss");
@import url("./Footer.scss");
@import url("./NavbarAdmin.scss");
@import url("./FormAddUser.scss");
